*{
    font-family: 'Inter';
    font-weight: 600; 
}
/*font-size: 45px; is suitable for most phones, subjected to change or using calc function*/
body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 70%;
    margin:0 auto;
}

h1 {
    color: white;
}

.description {
    color: #561DE2;
}

table, .proof{
    background-color: white;
    border-radius: 2em;
    padding: 1em;
}


/* UPPER SECTION -----------------------------------------------------------------------------------------*/
.upperSec{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #561DE2;
    border-radius: 0em 0em 3em 3em;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
}

/* LEFT -----------------------------------------------------------------------------------------*/
.left{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 2;
    padding: 1em;
}

table
{
    width: 100%;
}

tr{
    display: flex;
    justify-content: space-between;
    padding: 0.3em;
}

td, p {
    font-size: 2em;
}

/* RIGHT -----------------------------------------------------------------------------------------*/
/* (change to flex container due to issues with image only filling 1 cell as opposed to multiple) */

.right{
    padding: 1em;
}

.proof{
    text-align: center;
}

img {
    width: 25em;
}

.proofDescription {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

/* BOTTOM SECTION -----------------------------------------------------------------------------------------*/

.bottomSec {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.bottomSec button {
    border: none;
    border-radius: 60px;
    background-color: #561DE2;
    color: white;
    height: 3em;
    width: 15em;
    font-size: 2em;
    margin: 0.5em;
}


button {
    transition: all 0.3s;
}

/* All buttons hover animation */
button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}