header {
    height: 15vh;
    display: flex;
    justify-content: center;
    background-color: var(--main-bg-color);
}

header nav {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: bold;
}

header nav li span {
    margin-left: 1em;
}

header nav li button {
    height: 2.5em;
    width: 2.5em;
    color: var(--secondary-header-color);
    font-size: 1.5em;
    font-weight: bold;
    background-color: #eee;
    border-radius: 100%;
    border-style: none;
}

header nav li img {
    margin-top: -1em;
    height: 6em;
}

@media (max-width: 1250px) {
    header nav li img {
        margin-top: -1em;
        height: 4em;
    }
}

#card-wrapper {
    margin: 3vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#top-card {
    width: 85%;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

@media (max-width: 1250px) {
    #top-card {
        flex-direction: column;
    }
}

.top-card-info {
    width: 49%;
}

@media (max-width: 1250px) {
    .top-card-info {
        width: 100%;
        margin-bottom: 1.5em;
    }
}

.top-card-info h2 {
    color: var(--main-color);
}

.card-details {
    height: 80%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--secondary-bg-color);
}

.card-details tr{
    padding: 0.15em 0;
    display:flex;
    justify-content: space-between;
}

.card-details span {
    color: var(--secondary-header-color);
}

.card-details h2 {
    color: var(--secondary-color);
}

#buttons {
    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    height: 4.75em;
    width: 40%;
    color: var(--secondary-header-color);
    background-color: var(--secondary-bg-color);
}


@media (max-width: 1250px) {
    #buttons{
        justify-content: space-between;
    }
}


@media (max-width: 1250px) {
    #buttons button{
        width: 48%;
    }
}

@media (max-width: 1250px) {
    #buttons button h2{
        font-size: 1.2em;
    }
}

#btm-card {
    height: 60vh;
    width: 85%;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

#btm-card-info {  
    height: 100%;  
    margin: 1.5em 0 0 0;
    padding: 30px;
    color: var(--secondary-color);
    font-size: 1.2em;
    font-weight: bold;
    background-color: var(--secondary-bg-color);
}

#btm-card-info h3 {
    font-weight: bold;
    color: var(--secondary-header-color);
}
