body {
    background-color: rgb(115, 0, 209);
    font-family: Arial, sans-serif;
}

h1 {
    color: #ffffff;
    font-size: 40px;
}

h3 {
    color: #ffffff;
    font-size: 22px;
}

p {
    color: #ffffff;
    font-size: 28px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
}

button {
    background-color: rgb(115, 0, 209);
    color: #ffffff;
    font-size: 1em;
    border-style: none;
    border-radius: 10%;
    padding: 1em;
}