:root {
    --main-color: #fff;
    --main-bg-color: #561DE2;
    --secondary-bg-color: #fff;
    --secondary-header-color: #561DE2;
    --secondary-color: #111;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    background-color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@media (max-width: 1250px) {
    body {
        font-size: 28px;
    }
}

input, button, textarea, select {
    font: inherit;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

.card-element, .btn-element {
    border-radius: 50px;
}

.card-element {
    padding: 2em;
}

.btn-element {
    border-style: none;
}

h1 {
    color: var(--secondary-header-color);
    font-size: 2.5em;
} 

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1em;
} 